# Laravel
/vendor
/node_modules
/public/hot
/public/build
/public/storage

# Allow storage/app/public files (uploaded images, etc.)
/storage/*
!/storage/app
!/storage/app/public
# Allow common image types

/storage/app/public/*.zip

# Keep folder if empty
!/storage/app/public/.gitkeep

# Ignore sensitive and cache files
.env
.env.backup
.env.production
/storage/*.key
/storage/pail
.phpunit.result.cache
/.phpunit.cache
.phpactor.json

# Laravel Homestead
Homestead.yaml
Homestead.json

# PHPStorm, VSCode, Nova, etc.
/.idea
/.vscode
/.nova
/.fleet
/.zed

# npm & yarn logs
npm-debug.log
yarn-error.log

# Composer auth file
/auth.json
