# Laravel
/vendor
/node_modules
/public/hot
/public/build
/public/storage
/database/database.sqlite

# Environment files
.env
.env.backup
.env.production

# Ignore sensitive storage files
/storage/*.key
/storage/pail

# Ignore storage except app/public (used for uploaded files)
storage/*
!storage/app
!storage/app/public
!storage/app/public/.gitkeep
!.gitignore

# Ignore zip uploads (optional, adjust as needed)
storage/app/public/*.zip

# PHPUnit
.phpunit.result.cache
/.phpunit.cache

# IDEs and editors
/.idea
/.vscode
/.nova
/.fleet
/.zed

# Logs
npm-debug.log*
yarn-error.log*

# Composer
/auth.json

# Laravel Homestead
Homestead.yaml
Homestead.json
